@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    background-color: rgba(136, 136, 136, 0.527);
}

form{
    gap: 1rem;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

form input{
    width: 60%;
    text-align: center;
    padding: 0.5rem 1rem;
}

form input:last-child{
    width: 20%;
    border-top-right-radius: 0.5rem;
}

.header{
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

.underline{
    border: 1px solid rgb(0, 255, 255);
    max-width: 25%;
    text-align: center;
    margin: 0 auto;
}

.main{
    margin: 1rem auto;
    padding: 1rem;

}

.inputs{
    display: flex;
    gap: 1rem;
}

.add-btn{
    width: 40%;
    margin: 1rem auto;
    padding: 0.2rem 0.5rem;
    text-align: center;
    background-color: green;
    color: white;
    border: inherit;
    cursor: pointer;
}

.transactions{
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

.container{
    margin: 0 auto;
    padding: 1rem;
    text-align: auto;
}
.flex{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

.history{
    width: 60%;
    margin: 0.5rem auto;
    text-align: center;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.trash{
    background-color: inherit;
    border: inherit;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}
.balance{
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

.positive{color:green}
.negative{color:red}

@media(min-width: 600px){
    .inputs{
        margin: 0 auto;
        max-width: 40%;
    }
    .add-btn{
        max-width: 20%;
    }
    .flex{
        width: 40%;
    }

}
